body {
    background-color: #222630;
    color: white;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    height: 100%;
    overflow: hidden;
}

#loading {
    width: 100%;
    height: 100vh;
    border: none;
    background-color: #222630;
    color: white;
}

#user {
    color: rgb(87, 218, 87);
    display: inline-block;
}

.cursor {
    color: white;
    font-weight: bolder;
}